@model ShoppingCenter.Models.ShopItemViewModel

@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var num = 1;
}
<style>


    /*.JuiceItem {
        padding-top: 20px;
        margin: 0 auto;
    }

    .ProductImg {
        width: 100%;
        height: auto;
    }

    .JuiceItem input {
        -webkit-appearance: none;
        border: none;
        text-align: center;
        width: 32px;
        font-size: 16px;
        color: #43484D;
        font-weight: 300;
    }*/

    button[class*=btn] {
        width: 30px;
        height: 30px;
        background-color: #E1E8EE;
        border-radius: 6px;
        border: none;
        cursor: pointer;
    }



    .main {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .Product {
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        position: relative;
        margin: 1rem;
        width: 20%;
    }

        .Product img {
            width: 100%;
            height: 100%;
        }

    .ProductPicture {
        width: 100%;
        height: 200px;
    }

    .Product-info {
        position: relative;
    }

    .quantity {
        color: #eee;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem 1rem;
        letter-spacing: 0.5px;
        margin-bottom: 4px;
    }



        .quantity input {
            width: 60%;
            text-align: center;
        }

        .quantity h3 {
            margin: 0;
        }

    /*.quantity span {
            background-color: #22254b;
            border-radius: 3px;
            font-weight: bold;
            padding: 0.25rem 0.5rem;
        }*/


    .ProductPicture .overview {
        background-color: #fff;
        padding: 2rem;
        position: absolute;
        max-height: 100%;
        overflow: auto;
        left: 0;
        bottom: 0;
        right: 0;
        transform: translateY(101%);
        transition: transform 0.3s ease-in;
    }

    .overview h3 {
        font-size: small;
        margin-top: 0;
    }

    .ProductPicture:hover .overview {
        transform: translateY(30%);
    }

    .AddToCartBtn {
        width: 90%;
        background-color: greenyellow;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        margin-bottom: 4px;
    }
</style>


<div id="productList" class="main">


    @foreach (var product in Model.Products)
    {
        <div class="Product" id="@product.ProductId">
            <div class="ProductPicture">
                @if (product.Pictures.Count() > 0)
                {
                    <img class="ProductImg" src="@product.Pictures.Where(c => c.IsParentImage == true).FirstOrDefault().PictureLink" />
                }
                else
                {
                    <img class="ProductImg" src="~/Images/no-image.png" />
                }
                @*<div class="overview">
                        <h3>Overview:@product.ProductDescription</h3>
                    </div>*@
            </div>
            <div class="Product-info">
                <p>@product.ProductName</p>
                <p>$ @product.Price</p>
            </div>


            <div class="quantity">
                <button @*data-product-id="plus @product.ProductId"*@ class="plus-btn" type="button">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <input type="text" id="quantity @product.ProductId" value="1">
                <button @*data-product-id="minus @product.ProductId*@ class="minus-btn" type="button" disabled="disabled">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </button>

            </div>
            <button class="AddToCartBtn">Add To Cart</button>
        </div>

    }
</div>





    @section scripts
{
        <script>
            $(document).ready(function () {
                $("#productList").on("click", ".plus-btn", function () {
                    var plusBtn = $(this);
                    //var productId = button.attr("data-product-id");

                    //alert(productId);
                    var productValue = plusBtn.parent("div").children("input")[0].value;
                    //alert(productValue);

                    productValue++;
                    plusBtn.parent("div").children("input")[0].value = productValue;
                    //alert(productValue);

                    if (productValue > 1) {
                        var minusBtn = plusBtn.parent("div").children(".minus-btn")[0];
                        minusBtn.disabled = false;
                    }
                });

                $("#productList").on("click", ".minus-btn", function () {
                    var minusBtn = $(this);
                    //var productId = button.attr("data-product-id");

                    //alert(productId);
                    var productValue = minusBtn.parent("div").children("input")[0].value;

                    productValue--;
                    minusBtn.parent("div").children("input")[0].value = productValue;

                    if (productValue == 1) {
                        //minusBtn.disabled=true;  //this doesn't work, it might because $(this) cannot tell the element type as a button
                        minusBtn.parent("div").children(".minus-btn")[0].disabled = true;

                    }
                });

                $("#productList").on("click", ".AddToCartBtn", function () {
                    
                    var submitBtn = $(this);
                    var productId = submitBtn.parent(".Product").attr("id");
                    var inputBox = document.getElementById("quantity " + productId);
                    var qty = inputBox.value;
                    //var qty = submitBtn.parent(".Product").children("div .quantity input")[0].value;
                    var obj = { "ProductId": productId, "Qty": qty };
                    alert(qty);
                    $.ajax({
                        url: "/api/MyCart/" + productId,
                        method: "POST",
                        dataType:"json",
                        data: obj,
                        success: function () {

                        }
                    });
                });
            });


               ////setting default attributes to disabled of minus button

               // //document.querySelector(".minus-btn").setAttribute("disabled", "disabled");

               // //taking value to increment decrement input value
               // var valueCount;

               // //plus button
               // document.querySelector(".plus-btn").addEventListener("click", function () {

               //     //get input value
               //     valueCount = document.getElementById("quantity").value;

               //     //input value increment by 1
               //     valueCount++;

               //     //setting increment input value
               //     document.getElementById("quantity").value = valueCount;

               //     if (valueCount > 1) {
               //         document.querySelector(".minus-btn").removeAttribute("disabled");
               //         document.querySelector(".minus-btn").classList.remove("disabled");
               //     }
               // });

                ////minus button
                //document.querySelector(".minus-btn").addEventListener("click", function () {

                //    //get input value
                //    valueCount = document.getElementById("quantity").value;

                //    //input value increment by 1
                //    valueCount--;

                //    //setting increment input value
                //    document.getElementById("quantity").value = valueCount;

                //    if (valueCount == 1) {
                //        document.querySelector(".minus-btn").setAttribute("disabled", "disabled");
                //    }
                //});






        </script>
    }




