<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="#">
        <img src="~/Images/Pure Juice logo2.png" width="80" height="80" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="@Url.Action("Index", "Home")" class="nav-link">
                    Home <span class="sr-only">(current)</span>
                </a>

            </li>
            <li class="nav-item" id="ShopPage">
                <a class="nav-link" href="@Url.Action("Shop","Home")">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("About","Home")">About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("FAQ","Home")">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Contact","Home")">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">My Orders</a>
                    <a class="dropdown-item" href="#">My Account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("LogOut","Home")">Log out</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ShoppingCart","Home")" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("LogIn","Home")">Log in</a>
            </li>
        </ul>
    </div>
</nav>





